.login__text{
    color: rgb(255, 255, 255);
    padding-top: 35px;
    
}
.button__login{
background-color: #6246c0;
margin-top: 15px;
color: #fff;
padding: 10px 172pX;
margin-top: 25px;
border: none;

}
.container{
    margin-left: 740px;
    margin-top: 280px;
    width: 100%; height:100%;
}

body{
    width: 100vh; height: 100vh;
    background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
}
.dataIn{
    width: 400px;
    padding: 15px 30PX;
    background-color: #4b4168;
    color:aliceblue;
    margin-top: 5px;
    border: 0px;
}
html {
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    
     }
    